@tailwind base;
@tailwind components;
@tailwind utilities;
.book-card {
    width: 215px;
    height: 323px;
}
.book-cover {
    height: 240px;
}
.preview-image {
    width: 194px;
    height: 310px;
    object-fit: cover;
}
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
.flex-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.main-content {
    flex-grow: 1;
}

