@tailwind base;
@tailwind components;
@tailwind utilities;
.book-card {
    width: 215px;
    height: 323px;
}
.book-cover {
    height: 240px;
}
.preview-image {
    width: 194px;
    height: 310px;
    object-fit: cover;
}
